@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
  background-color: hsl(212, 45%, 89%);
  margin: 0;  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  flex-direction: column;
  min-width: 300px;
  border-radius: 20px;
  padding: 15px;
}

img {
  border-radius: 10px;
  height: 300px;
  width: 300px;
}

h1,h2 {
  font-family: 'Outfit', sans-serif;
  display: flex; 
  justify-content: center;
  width: 250px;
  word-break: normal;
  text-align: center;
}

h1 {
  color: hsl(218, 44%, 22%);
  font-size: 22px;
  font-weight: 700;
}

h2 {
  color: hsl(220, 15%, 55%);
  font-size: 15px; 
  font-weight: 400;
}